html,body {
	height:100%;
	background:center no-repeat fixed url('../Media/estimote.jpg');
	background-size: cover;
    	color:#444;
    	font-family: 'Lato', sans-serif;
	width : 100%;
}

.row{
	margin: 0;
}

@media (min-width:768px) {
    h1 {
        font-size:68px;
    }
}

.v-center {
	  position : relative;
	  margin-top : 4%;
}